<p-card [style]="{ 'width': '25rem', 'margin-bottom': '1em' }">

    <ng-template pTemplate="header">
        <img alt="Car" src="{{ series.poster }}" style="width: 100%" class="poster-width" />
    </ng-template>
    <div class="flex flex-row">
        <p-avatar image="https://cdn.freebiesupply.com/logos/large/2x/star-wars-logo-black-and-white.png" styleClass="mr-2"
            size="large" shape="circle"></p-avatar>

        <div>
            <p class="text-2xl font-medium m-0">{{ series.title }}</p>
            <p class="text-base m-0">Helooo</p>
        </div>

    </div>

</p-card>